
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
  scroll-behavior: smooth; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Adicionando animações do animate-in que podem ser úteis */
.animate-in {
    animation-name: in;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes in {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.slide-in-from-top-2 {
    --tw-enter-translate-y: -0.5rem;
}
